@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
  text-transform: capitalize;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  background: url("../img/bg.jpg") center no-repeat;
  background-size: cover;
  overflow: hidden;
}

.main-container .search-form {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 40px;
  z-index: 2;
}

.main-container .search-form input {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 100;
  outline: none;
  border: 2px solid #dbdbdb;
  transition: all 300ms ease-out;
}

.main-container .search-form input:focus {
  border: 2px solid #004cff;
}

.results {
  width: 100%;
}

.results li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.results li:nth-child(odd) {
  height: 40px;
  border: 1px solid gray;
  background: linear-gradient(to bottom, white 0%, #d4d4d4 100%);
  transform: perspective(100px) rotateX(2deg) translateY(0px);
}

.results li:nth-child(odd):hover {
  background: white;
}

.results li:nth-child(even) {
  height: 40px;
  border: 1px solid gray;
  background: linear-gradient(to bottom, #c3c5d3 0%, white 100%);
  transform: perspective(100px) rotateX(-2deg) translateY(0px);
}

.results li:nth-child(even):hover {
  background: white;
}

.highlight {
  background-color: #83a8ff;
}

.information {
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(3px);
  transition: all 300ms ease-in;
}

.loading {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  font-weight: 100;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%) scale(1);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  cursor: pointer;
  transition: all 200ms ease-out;
  z-index: 0;
}

.download .fa-download {
  color: black;
}

.download:hover {
  transform: translateX(-50%) scale(1.1);
}

@media screen and (max-width: 580px) {
  .main-container .search-form {
    width: 300px;
  }
  .main-container .search-form .results {
    width: 300px;
  }
  .main-container .search-form input {
    width: 300px;
  }
  .download {
    width: 200px;
    bottom: 15%;
  }
  .download h5 {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 320px) {
  .main-container .search-form {
    width: 250px;
  }
  .main-container .search-form .results {
    width: 250px;
  }
  .main-container .search-form input {
    width: 250px;
  }
  .information {
    width: 250px;
  }
  .information h5 {
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=style.css.map */